.recommend {
  margin-top: 60px;

  .top {
    display: flex;
    align-items: end;
    margin-bottom: 24px;

    h2 {
      margin-right: 40px;
      font-size: 28px;
      font-weight: 600;
      color: #333;
      letter-spacing: 1px;
    }

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        margin-right: 34px;
        font-size: 14px;
        font-weight: 300;
        color: #333;
        cursor: pointer;

        &:hover {
          color: #000;
        }

        &.active {
          font-weight: 600;
          color: #000;

          &::after {
            position: absolute;
            bottom: 1px;
            left: -10%;
            z-index: -1;
            width: 120%;
            height: 7px;
            content: '';
            background-color: #ffe443;
          }
        }

        &.more {
          a {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #999;
            text-decoration: none;

            svg {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
  }
}

.rank {
  margin-top: 60px;

  .top {
    display: flex;
    align-items: end;
    margin-bottom: 24px;

    h2 {
      margin-right: 40px;
      font-size: 28px;
      font-weight: 600;
      color: #333;
      letter-spacing: 1px;
    }

    .more {
      display: flex;
      align-items: center;
      font-size: 13px;
      color: #999;
      text-decoration: none;

      svg {
        margin-left: 2px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
  }
}
