.banner {
  width: 100%;
  margin-top: 20px;

  .top {
    position: relative;
    max-height: 400px;

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      top: 50%;
      width: 60px;
      height: 60px;
      margin-top: calc(0px - (60px / 2));
      color: rgb(255 255 255 / 60%);
      background-color: rgb(0 0 0 / 20%);
      border-radius: 50%;
      opacity: 0;
      transition: all 0.1s;

      &::after {
        font-size: 22px;
      }

      &:hover {
        color: rgb(255 255 255 / 90%);
      }
    }

    :global(.swiper-button-prev) {
      left: 30px;
    }

    :global(.swiper-button-next) {
      right: 30px;
    }

    &:hover {
      :global(.swiper-button-prev),
      :global(.swiper-button-next) {
        opacity: 1;
      }
    }

    :global(.swiper-pagination) {
      bottom: 20px;

      :global(.swiper-pagination-bullet) {
        margin-right: 8px;
        background: hsl(0deg 0% 100% / 80%);
      }

      :global(.swiper-pagination-bullet-active) {
        background: hsl(0deg 0% 100%);
      }
    }

    a {
      display: block;
      width: 100%;
      border: none;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }

    .filter {
      position: absolute;
      top: 47px;
      z-index: -1;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        filter: blur(20px);
      }
    }
  }

  .bottom {
    height: 50px;
    color: white;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0 80px;
      margin: 0;
      background: rgb(0 0 0 / 15%);

      li {
        display: flex;
        align-items: center;

        &.divider {
          width: 1px;
          height: 28px;
          margin: 0 15px;
          background: hsl(0deg 0% 100% / 10%);
          border-radius: 1px;
        }

        a {
          font-size: 15px;
          color: white;
          text-decoration: none;
        }

        svg {
          width: 23px;
          height: 23px;
          margin-right: 15px;
        }
      }
    }
  }
}
