.title {
  margin-top: 48px;
  margin-bottom: 22px;
  line-height: 30px;
  color: #333;
  vertical-align: baseline;

  h2 {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
  }

  p {
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 300;
  }
}

.list {
  .item {
    display: flex;
    align-items: start;
    margin: 16px 0 20px;

    .left {
      height: 80px;
      margin-right: 14px;

      img {
        width: 42px;
        height: 42px;
        margin-top: 3px;
        border-radius: 50%;
      }
    }

    .right {
      position: relative;
      flex: 1;
      padding-bottom: 20px;
      border-bottom: 1px solid #f2f2f2;

      .name {
        display: flex;
        align-items: center;
        height: 22px;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        letter-spacing: 0.5px;
        vertical-align: middle;

        svg {
          margin-left: 5px;
          font-size: 20px;
          color: #e6b86d;
        }
      }

      .content {
        margin: 3px 0;
        font-size: 14px;
        line-height: 18px;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      .reply {
        padding: 5px 10px;
        margin: 10px 3px;
        font-size: 14px;
        line-height: 20px;
        color: #666;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
        border-left: 3px solid #dbdbdb;
        opacity: 0.8;

        .at {
          margin-right: 5px;
          color: #296294;
        }
      }

      .time {
        display: flex;
        justify-content: space-between;
        height: 17px;
        margin-top: 5px;
        font-size: 12px;
        line-height: 17px;
        color: #333;
        opacity: 0.5;
      }
    }
  }
}

.paginate {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  img {
    width: 260px;
    object-fit: cover;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    letter-spacing: 0.5px;
    word-break: break-all;
  }
}
