.myli {
  display: block;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 200;
  color: #333;
  text-align: center;
  cursor: pointer;
  border-radius: 14px;

  &.active {
    font-weight: 700;
    background: #ffe443 !important;
  }
}
