.wrapper {
  display: flex;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid #f0f0f0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .left {
      display: flex;

      .logo {
        display: flex;
        align-items: center;
        margin-right: 39px;
        font-size: 0;

        img {
          width: 139px;
          object-fit: cover;
        }
      }

      .links {
        display: flex;
        gap: 4px;

        a {
          padding: 0 14px;
          font-size: 16px;
          font-weight: 300;
          line-height: 67px;
          color: #333;
          text-decoration: none;

          &.active {
            font-weight: 600;
            background: #ffe443;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .login {
        font-size: 14px;
        line-height: 67px;
        color: #333;
        text-decoration: none;
      }
    }
  }
}
