.playing {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 16px;
  line-height: 14px;
  text-align: center;

  span {
    position: absolute;
    bottom: 0;
    width: 2px;
    background: #ffe200;

    &.side1 {
      left: 2px;
      height: 6px;
      animation: first 1s linear infinite;
    }

    &.side2 {
      left: 6px;
      height: 4px;
      animation: second 1s linear infinite;
    }

    &.side3 {
      left: 10px;
      height: 6px;
      animation: middle 1s linear infinite;
    }

    &.pause {
      animation-play-state: paused;
    }
  }
}

@keyframes first {
  0% {
    height: 6px;
  }

  56% {
    height: 10px;
  }

  100% {
    height: 8px;
  }
}

@keyframes second {
  0% {
    height: 4px;
  }

  28% {
    height: 6px;
  }

  80% {
    height: 12px;
  }

  100% {
    height: 6px;
  }
}

@keyframes middle {
  0% {
    height: 10px;
  }

  56% {
    height: 8px;
  }

  100% {
    height: 6px;
  }
}
